# Auto detect text files and perform LF normalization
* text=auto
Board.ai filter=lfs diff=lfs merge=lfs -text
Card[[:space:]]Backs.ai filter=lfs diff=lfs merge=lfs -text
Headlines.ai filter=lfs diff=lfs merge=lfs -text
News.ai filter=lfs diff=lfs merge=lfs -text
Scoops.ai filter=lfs diff=lfs merge=lfs -text
